---
import IconBadge from "./IconBadge.astro";

interface Credential {
  title: string;
  description: string;
  icon: string;
}

interface Props {
  credential: Credential;
}

const { credential } = Astro.props;
---

<article class="card credential-card stack-sm">
  <IconBadge icon={credential.icon} />
  <h3>{credential.title}</h3>
  <p>{credential.description}</p>
</article>
